@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-4">
    <h3>Coding Test</h3>
    <p class="lead">
        This is a code assesment assignment based demo app. cantidate details are as follows.

    </p>
    <h4><b>Cantidate : </b> Hassan Taj</h4>
    <p>
        <a href="https://github.com/leehaisen01" target="_blank" class="btn btn-primary btn-lg"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/hassan-taj/"  target="_blank" class="btn btn-info btn-lg"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/leehaisen01/intagleo-systems-codingtest" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-code"></i></a>
    </p>
</div>
